:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  background: #ffffff;
}
/* --------------------Kolory czcionek------------------ */

.menu-logo-webstudio,
.menu-section-links-a,
.button,
.portfolio-button-text {
  color: var(--main-color);
}
.menu-social-links-a,
.our-strengths-box-text,
.our-team-box-text,
.footer-social-links-a,
.porfolio-box-text {
  color: var(--secondary-color);
}

.footer-logo-webstudio {
  color: #2196f3;
}

.main-title,
.footer-addres {
  color: white;
}

.button:hover,
.footer-logo-webstudio:hover,
.portfolio-button-text:hover {
  color: white;
}

.menu-logo-webstudio:hover,
.menu-section-links-a:hover,
.menu-social-links-a:hover,
.footer-addres:hover,
.footer-social-links-a:hover {
  color: #2196f3;
}

/* --------------------KOLOR TŁA-------------- */

.title-section,
.footer-section {
  background: #2f303a;
}

.button:hover {
  background-color: #2196f3;
}

.our-team-section {
  background: #f5f4fa;
}
/*-------------------- ROZMIARY CZCIONEK------------------- */

.menu-section-links-a,
.menu-social-links-a,
.our-strengths-box-title,
.our-strengths-box-text,
.our-team-box-text,
.footer-social-links-a,
.footer-addres {
  font-size: 14px;
}

.main-button-text,
.our-team-box-title,
.portfolio-button-text,
.porfolio-box-text {
  font-size: 16px;
}

.porfolio-box-title {
  font-size: 18px;
}

.menu-logo-webstudio,
.footer-logo-webstudio {
  font-size: 26px;
}

.our-strengths-title,
.our-team-title {
  font-size: 36px;
}

.main-title {
  font-size: 44px;
}
/* --------------------------------MENU STRONY---------------------------------------*/

.menu-logo-webstudio {
  line-height: 75%;
}

.menu-section-links-a,
.menu-social-links-a {
  font-weight: 500;
  line-height: 146%;
}

.button {
  cursor: pointer;
}

/* --------------------    MAIN NAGŁOWEK STRONY        ------------------------------ */

.main-title {
  font-weight: 900;
  line-height: 136%;
}

.main-button-text {
  line-height: 188%;
}

/*---------------------------------------SEKCJA   NASZE ATUTY     ---------------------------------------- */

.our-strengths-title {
  line-height: 162%;
}

.our-strengths-box-text,
.our-strengths-box-title {
  line-height: 171%;
}

/* ----------------------------SEKCJA   NASZ ZESPÓŁ          ---------------------------- */

.our-team-title {
  line-height: 272%;
}

.our-team-box-title {
  font-weight: 500;
  line-height: 368%;
}

.our-team-box-text {
  line-height: 368%;
}

/*----------------------------- FOOTER   LINKI KONTAKTOWE -------------------------------*/

.footer-logo-webstudio {
  font-family: var(--secondary-font);
  line-height: 252%;
}

.footer-social-links-a,
.footer-addres {
  line-height: 171%;
}

/* ------------------------------PORTFOLIO ---------------------------------*/

.portfolio-button-text {
  font-weight: 500;
  line-height: 162%;
}

.porfolio-box-title {
  line-height: 200%;
}

.porfolio-box-text {
  line-height: 188%;
}
